.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3em 0;
	margin-bottom: 3em;
}

h1 {
	margin: 0;
	letter-spacing: 0.3em;
	font-size: 2.1em;
	font-weight: 700;
	color: #fff;
}

img {
	width: 1.3em;
	height: 1.3em;
	align-self: start;
	transition: 0.5s;
}

img:hover {
	cursor: pointer;
	filter: invert(66%) sepia(18%) saturate(6525%) hue-rotate(224deg)
		brightness(82%) contrast(88%);
}
