.Input {
	border: var(--clr-darkblue);
	display: flex;
	align-items: center;
	height: 2.9em;
	width: 100%;
	margin-bottom: 2em;
	border-radius: 0.3em;
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Input input[type='checkbox'] {
	visibility: hidden;
	width: 1.1em;
	height: 1.1em;
	position: absolute;
	left: -2px;
	top: -1px;
}

.disabledCheckbox {
	width: 1.2em;
	height: 1.2em;
	margin: 0 0.8em;
	border-radius: 100%;
	border: 1px solid gray;
	position: relative;
}

form {
	width: 100%;
}

.Input input[type='text'] {
	border: none;
	flex-basis: 92%;
	height: 2.5em;
	width: inherit;
	outline-color: hsl(235, 28%, 76%);
	outline-width: 1em;
	transition: 0.3s;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
}

.darkMode {
	background-color: var(--clr-darkblue);
	color: var(--clr-lightgray);
}

.lightMode {
	background-color: var(--bg-white);
	color: var(--bg-black);
}
