.desktop-dash {
	color: var(--clr-lightgray);
	display: none;
	background-color: var(--clr-darkblue);
	justify-content: space-around;
	font-size: 0.8em;
	padding: 0.8em;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
}

.mobile-dash .upper {
	color: var(--clr-lightgray);
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--clr-darkblue);
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	font-size: 0.9em;
}

.upper div:nth-child(1) {
	margin-right: 11em;
}

.mobile-menu {
	margin-top: 2em;
	display: grid;
	grid-template: 1fr /1fr 1fr 1fr;
	color: var(--clr-lightgray);
	background-color: var(--clr-darkblue);
	font-size: 1em;
	border-radius: 0.3em;
}

.mobile-menu .todo-filters {
	/* border: 1px solid slateblue; */
	grid-column: 2 / span 1;
}

.todo-filters {
	display: flex;
}

.todo-filters p {
	padding: 0 0.6em;
}

.todo-filters p:hover,
.upper div:nth-child(2):hover {
	color: var(--clr-lightblue);
}

@media (min-width: 550px) {
	.desktop-dash {
		display: flex;
	}

	.mobile-dash {
		display: none;
	}
}
