.desktopDash {
	display: none;
	justify-content: space-around;
	font-size: 0.8em;
	padding: 0.8em;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
}

.mobileDash .upper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	font-size: 0.9em;
}

.mobileMenu {
	margin-top: 2em;
	display: grid;
	grid-template: 1fr /1fr 1fr 1fr;
	font-size: 1em;
	border-radius: 0.3em;
}

.mobileMenu .todoFilters {
	grid-column: 2 / span 1;
}

.todoFilters {
	display: flex;
}

.todoFilters p {
	padding: 0 0.6em;
}

.todoFilters p:hover,
.upper div:nth-child(2):hover,
.desktopDash div:last-child:hover {
	color: var(--clr-lightblue);
}

.upper div {
	width: 100%;
}

.counter p {
	padding-left: 1.1em;
}

.clear p {
	padding-left: 2em;
}

.activeFilter {
	color: var(--clr-lightblue);
}

.darkMode {
	background-color: var(--clr-darkblue);
	color: var(--clr-lightgray);
}

.lightMode {
	background-color: var(--bg-white);
	color: var(--bg-black);
}

@media (min-width: 550px) {
	.desktopDash {
		display: flex;
	}

	.mobileDash {
		display: none;
	}
}
