.Todos {
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	overflow: hidden;
}

.shadow {
	box-shadow: 0 49px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 550px) {
	.shadow {
		box-shadow: 0 65px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}
