.Todo {
	display: flex;
	align-items: center;
	height: 3em;
	font-weight: 350;
	color: hsl(234, 39%, 85%);
	cursor: pointer;
}

.completed {
	text-decoration: line-through;
}

.delete {
	margin-left: auto;
	margin-top: 0.2em;
	width: 1.4em;
	height: 1.4em;
	margin-right: 1.5em;
	visibility: hidden;
	/* border: 1px solid salmon; */
}

.delete:hover {
	filter: invert(36%) sepia(45%) saturate(2976%) hue-rotate(339deg)
		brightness(106%) contrast(92%);
}

.Todo:hover .delete {
	visibility: visible;
}

input[type='checkbox'] {
	visibility: hidden;
}

.checkbox {
	width: 1.2em;
	height: 1.2em;
	margin: 0 0.8em;
	border-radius: 100%;
	border: 1px solid gray;
	position: relative;
}

.checkbox label {
	display: block;
	width: inherit;
	height: inherit;
	border-radius: 100%;
	transition: all 0.1s ease-in;
	cursor: pointer;
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 1;
}

.checkbox input[type='checkbox']:checked + label {
	background-image: url(../images/icon-check.svg),
		linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
}

.Todo:hover {
	color: hsl(235, 35%, 50%);
}

.darkMode {
	background-color: var(--clr-darkblue);
	color: var(--clr-lightgray);
	border-bottom: 0.1em solid gray;
}

.lightMode {
	background-color: var(--bg-white);
	color: var(--bg-black);
	border-bottom: 0.1em solid lightgray;
}
