:root {
	--clr-darkblue: hsl(235, 24%, 19%);
	--bg-black: hsl(235, 21%, 11%);
	--clr-lightblue: hsl(236, 33%, 92%);
}

.App {
	width: 100%;
	display: flex;
	justify-content: center;
}

body {
	height: 100%;
	background-color: var(--bg-black);
}

.b-red {
	border: 1px solid red;
}

.container {
	margin-top: 3em;
	width: 90%;
	height: 100%;
	padding: 1em;
	max-width: 35em;
}

.bg-dark-mode {
	background-image: url(./images/bg-mobile-dark.jpg);
	background-repeat: no-repeat;
	background-size: 100% 25%;
	background-attachment: fixed;
}

.bg-light-mode {
	background-image: url(./images/bg-mobile-light.jpg);
	background-repeat: no-repeat;
	background-size: 100% 25%;
}

@media (min-width: 500px) {
	.bg-dark-mode {
		background-image: url(./images/bg-desktop-dark.jpg);
		background-size: 100% 40%;
	}
	.bg-light-mode {
		background-image: url(./images/bg-desktop-light.jpg);
		background-size: 100% 40%;
	}
}
