:root {
	--clr-darkblue: hsl(235, 24%, 19%);
	--bg-black: hsl(235, 21%, 11%);
	--bg-white: hsl(0, 0%, 98%);
	--clr-lightgray: hsl(236, 33%, 92%);
	--clr-lightblue: hsl(220, 98%, 61%);
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.App {
	min-height: 100%;
	display: flex;
	justify-content: center;
}

.container {
	margin-top: 3em;
	width: 90%;
	padding: 1em;
	max-width: 35em;
}

.darkMode {
	background-image: url(./images/bg-mobile-dark.jpg);
	background-repeat: no-repeat;
	background-size: 100% 25%;
	background-attachment: fixed;
	background-color: var(--bg-black);
}

.lightMode {
	background-image: url(./images/bg-mobile-light.jpg);
	background-repeat: no-repeat;
	background-size: 100% 25%;
	background-attachment: fixed;
	background-color: var(--clr-lightgray);
}

@media (min-width: 500px) {
	.darkMode {
		background-image: url(./images/bg-desktop-dark.jpg);
		background-size: 100% 40%;
	}
	.lightMode {
		background-image: url(./images/bg-desktop-light.jpg);
		background-size: 100% 40%;
	}
}
